html::before,
html::after {
  content: "";
  position: fixed;
  z-index: -2;
  border-radius: 50%;
}

html::before {
  height: 100px;
  width: 100px;
  top: 20%;
  left: calc(50% - 650px);
  background: linear-gradient(
    to right bottom,
    var(--decoration-bg-color-1),
    var(--WHITE)
  );
}
html::after {
  height: 150px;
  width: 150px;
  bottom: 20%;
  right: calc(50% - 675px);
  background: linear-gradient(
    to left bottom,
    var(--decoration-bg-color-2),
    var(--WHITE)
  );
}

body {
  --white: hsla(0, 0%, 100%, 0.25);
  --border-color-2: hsla(0, 0, 100%, 0.4);
  --border-color-1: hsla(0, 0%, 0%, 0.1);
  --shadow: none;
  background-image: linear-gradient(
    to right,
    var(--body-gradient-bg-color-1),
    var(--body-gradient-bg-color-2)
  );
  background-attachment: fixed;
  padding: 40px 0;
  --backdrop-filter: blur(5px);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--WHITE);
  opacity: 0.3;
  z-index: -3;
}
.main-wrapper {
  max-width: 1200px;
  background-color: var(--white);
  border: 1px solid var(--border-color-2);
  margin: auto;
  border-radius: 24px;
  position: relative;
}

.main-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  z-index: -1;
  padding: 20px;
}

.header .sub-menu,
.box {
  border: 1px solid var(--border-color-2);
}
.page-loader,
.header-backdrop,
.header .sub-menu,
.box,
.style-switcher {
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
}

body.t-dark {
  --white: hsla(0, 0%, 100%, 0.05);
  --border-color-2: hsla(0, 0, 100%, 0.07);
  --border-color-1: hsla(0, 0%, 0%, 0.15);
  --shadow: none;
}

body.t-dark::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--BLACK);
  opacity: 0.5;
  z-index: -1;
}

@media (max-width: 1119px) {
  body {
    padding: 40px 30px;
  }
  html::before {
    left: -35px;
    top: 10%;
  }
  html::after {
    right: -60px;
    bottom: 10%;
  }
}
@media (max-width: 991px) {
  .header-menu {
    -webkit-backdrop-filter: var(--backdrop-filter);
    backdrop-filter: var(--backdrop-filter);
  }

  .header .sub-menu {
    border: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
@media (max-width: 767px) {
  body {
    padding: 35px 15px;
  }
  html::before {
    left: -50px;

  }
  html::after {
    right: -75px;

  }
}

.header-backdrop.active {
  opacity: 1;
}
